<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>小苏梦工厂</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style-editor.css">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/masonry.pkgd.min.js"></script>
    <!--<script src="static/js/markdown.min.js"></script>-->
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-cookie.min.js"></script>
    <script src="static/js/angular-route.js"></script>
    <script src="static/js/angular-resource.min.js"></script>
    <!--    <script src="static/js/angular-deckgrid.min.js"></script>-->
    <script src="script/jq.js"></script>
    <script src="script/app.js"></script>
    <script src="script/controller.js"></script>
    <script src="script/service.js"></script>
    <script src="script/directives.js"></script>

</head>

<body ng-app='myApp'>
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller='ctrl.nav'>
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle='collapse' data-target='#navCollapse' aria-expanded='false'>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="#/">小苏梦工厂</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navCollapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:path=='/'}"><a href="#home">首页</a>
                    </li>
                    <li ng-class="{active:path.indexOf('/music')>=0}"><a href="#music">音乐</a>
                    </li>
                    <li ng-class="{active:path.indexOf('/movie')>=0}"><a href="#movie">电影</a>
                    </li>
                    <li ng-class="{active:path.indexOf('/blog')>=0}"><a href="#blog">博客</a>
                    </li>
                </ul>
                <div class="nav-right" ng-hide='account.uid'>
                    <a data-target="#signinModal" data-toggle="modal">登录</a>
                    <span>/</span>
                    <a data-target="#signupModal" data-toggle="modal">注册</a>
                </div>
                <div class="nav-right" ng-show='account.uid'>
                    <a href="#signinModal" data-toggle="modal">{{account.uid}}</a>
                    <span>/</span>
                    <a href="#" ng-click='signout()'>登出</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container" ng-view></div>
    </div>
    <div class="footer">
        <div class="container">
            <p>© 2016 Ansux all rights reserved. www.ansux.win.</p>
        </div>
    </div>
    <div class="account-modal" ng-if="account==undefined" ng-include="'views/account-modal.html'"></div>
</body>

</html>