<style>
  #addToPL {
    z-index: 99999;
    border-radius: 5px;
    border: solid 1px #ccc;
    display: inline-block;
    position: fixed;
    background: #fff;
    display: none;
  }

  #addToPL .title {
    background: #ccc;
    padding: 8px 10px;
    font-size: 14px;
  }

  #addToPL .list p {
    margin-bottom: 0px;
    padding: 6px 10px;
  }

  #addToPL .list p:hover {
    background: #efefef;
  }
</style>
<div class="s-list">
  <table class="table">
    <thead>
      <tr>
        <th>序号</th>
        <th>操作</th>
        <th>歌名</th>
        <th>歌手</th>
        <th>评论数</th>
        <th>时长</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in allSongs" sitem>
        <td ng-bind="$index+1|add0"></td>
        <td>
          <a><i class="fa fa-heart-o"></i></a>
          <a tool-menu><i class="fa fa-plus-square-o"></i></a>
        </td>
        <td ng-bind="s.name"></td>
        <td ng-bind="s.singer"></td>
        <td ng-bind="s.comments"></td>
        <td ng-bind="(s.playtime/1000)|formatTime"></td>
      </tr>
    </tbody>
  </table>
  <div id="addToPL">
    <div class="title">收藏到歌单</div>
    <div class="list">
      <p ng-repeat="pl in playlists" add-to-playlist>{{pl.name}}</p>
    </div>
  </div>
  <div mini-pager pnum="pageNum" page="page" rcount="songCount" source="allSongs"></div>
</div>
